<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  </head>
  <body>
    <div id="root">
      姓：<input type="text" name="" id="" v-model="firstName" /><br />
      名：<input type="text" name="" id="" v-model="lastName" /><br />
      全名：<span>{{fullName}}</span>
    </div>
    <script>
      const vm = new Vue({
        el: '#root',
        data: {
          firstName: '张',
          lastName: '三',
        },
        computed: {
          //完整写法
          // fullName: {
          //   get() {
          //     console.log('get被调用了')
          //     return this.firstName + '-' + this.lastName
          //   },
          //   set(value) {
          //     console.log('set', value)
          //     const arr = value.split('-')
          //     this.firstName = arr[0]
          //     this.lastName = arr[1]
          //   },
          // },
          //简写
          fullName() {
            console.log('get被调用了')
            return this.firstName + '-' + this.lastName
          },
        },
      })
    </script>
  </body>
</html>
